<html>
    <head>
        <title>Project Detail</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="public/css/style.css" type="text/plain">
        <script src="https://kit.fontawesome.com/c69343c4a5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand me-5" href="/">
                    <img src="/public/images/logo.png" alt="logo">
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item me-5 fs-5">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item fs-5">
                    {{if .Data.IsLogin}}
                        <a class="nav-link" href="/add-project">Add Project</a>
                    {{end}}
                  </li>
                  <li class="nav-item dropdown">
                   
                </ul>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-5 fs-5">
                        <a class="nav-link" aria-current="page" href="/form-register">
                            {{if .Data.IsLogin}}
                                Halo, {{.Data.Username}}  
                            {{else}}
                                Register
                            {{end}}
                        </a>
                    </li>
                    <li class="nav-item fs-5">
                            {{if .Data.IsLogin}}
                                <a class="nav-link" href="/logout">Logout</a>
                            {{else}}
                                <a class="nav-link" href="/form-login">Login</a>
                            {{end}}
                    </li>
                    <form action="/contact-me" class="d-flex align-items-center m-auto ms-5">
                        <button class="btn btn-dark px-4 py-1" type="submit">Contact Me</button>
                    </form>
                </div>
              </div>
            </div>
          </nav>

        <div class="container-fluid">
            <div class="container">
                <h1 class="text-center mb-5">{{.ProjectDetail.Project_name}}</h1>
                <div class="row m-auto">

                    <div class="col me-3 p-0">
                        <img style="width:600px;height: 400px;" class="m-auto" src="/uploads/{{.ProjectDetail.Image}}" alt="">
                    </div>

                    <div class="col p-0">
                        <div class="">
                            <h2>Duration</h2>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-calendar-days fa-2xl me-2"></i>
                                <p>{{.ProjectDetail.Start_date_format}} / {{.ProjectDetail.End_date_format}}</p>
                                
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-clock fa-2xl me-2"></i>
                                <p>{{.ProjectDetail.Duration}}</p>
                            </div>
                        </div>
                    
                        <div class="col">
                            <h2>Technologies</h2>
                            <div class="row m-auto p-0">
                                {{range $index, $data := .ProjectDetail.Technologies}} 
                                <div class="col-sm p-0 mb-2 d-flex align-items-center w-25">       
                                    <i class="fa-brands {{$data}} fa-2xl me-3"></i>
                                    <p>
                                        {{if eq $data "fa-node-js"}}
                                            Node Js
                                        {{else if eq $data "fa-react"}}
                                            React Js
                                        {{else if eq $data "fa-vuejs"}}
                                            Vue Js
                                        {{else if eq $data "fa-js"}}
                                            JavaScript
                                        {{end}}
                                    </p>
                                </div>
                                    {{if eq $index 1}}
                                        <div class="w-100 me-3"></div>
                                    {{end}}
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-0">
                    <p>
                       {{.ProjectDetail.Description}}
                    </p>
                </div>

            </div>
        </div>

    </body>
</html>